table {
  width: 40%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th, td {
  border-bottom: double;
  border-left: double;
  border-right: double;
  border-top: double;
}

h1, h2 {
  text-align: center;
  width: 100%;
}
